In [2]:
import numpy as np
import pandas as pd

In [76]:
file_path = 'data\EURUSD.txt'

data = pd.read_csv(file_path, dtype=str)

In [77]:
data.head()

  item_id      Date    Time    Open   Close    High     Low Volume
0  EURUSD  20230417  061600  1.0984  1.0984  1.0984  1.0984      4
1  EURUSD  20230417  061700  1.0984  1.0984  1.0981  1.0981      4
2  EURUSD  20230417  061800  1.0981  1.0982  1.0981  1.0982      4
3  EURUSD  20230417  061900  1.0982  1.0982  1.0982  1.0982      4
4  EURUSD  20230417  062000  1.0981  1.0981  1.0980  1.0980      4

In [78]:
data.drop(columns =['Open', 'High', 'Low', 'Volume'], inplace=True)

In [79]:
data.head()

  item_id      Date    Time   Close
0  EURUSD  20230417  061600  1.0984
1  EURUSD  20230417  061700  1.0984
2  EURUSD  20230417  061800  1.0982
3  EURUSD  20230417  061900  1.0982
4  EURUSD  20230417  062000  1.0981

In [84]:
data["time2"] = data["Time"].str[2:-2].astype(int)
data = data[data['time2'] % 15 == 0]
data.drop(columns =['time2'], inplace=True)
data.head()

   item_id      Date    Time   Close
14  EURUSD  20230417  063000  1.0975
29  EURUSD  20230417  064500  1.0971
44  EURUSD  20230417  070000  1.0965
59  EURUSD  20230417  071500  1.0971
74  EURUSD  20230417  073000  1.0974

In [85]:
data["Date"] = pd.to_datetime(data["Date"], format='%Y%m%d')
data["Time"] = pd.to_datetime(data["Time"], format='%H%M%S').dt.time

In [88]:
data['Datetime'] = pd.to_datetime(data['Date'].astype(str) + ' ' + data['Time'].astype(str))

In [90]:
data['Datetime'] = pd.to_datetime(data['Datetime'], format='%Y%m%d %H%M%S')

In [92]:
data['Datetime'].dtype

dtype('<M8[ns]')

In [93]:
data.drop(columns =["Time","Date"], inplace=True)

In [95]:
data.head()
file_path_csv = 'data/EURUSD_15.csv'
data.to_csv(file_path_csv, index=False)